.lang-switcher {
  cursor: pointer;
  margin: 0 auto;
  position: absolute;
  top: -5px;
  right: -80px;
  height: 50px;
  width: 75px;
}
.lang-switcher:before, .lang-switcher:after {
  color: #111;
  display: block;
  font-size: 14px;
  height: 100px;
  line-height: 100px;
  position: absolute;
  width: 100px;
  z-index: 1;
}
.lang-switcher:before {
  content: attr(data-lang-1);
}

.lang-switcher:after {
  content: attr(data-lang-2);
}

.lang-switcher:hover:after {
  color: gray;
}
  
.lang-switcher__svg-item {
  cursor: pointer;
  fill: #fff;
  transition: transform 1s ease-out;
}
.lang-switcher__svg-item {
  z-index: 9999;
}

@media screen and (min-width: 980px) {
  .lang-switcher {
    right: 5px;
    top: 10px;
  }
  .lang-switcher:before, .lang-switcher:after {
    top: -24.55px;
    left: -29px;
  }
  .lang-switcher:after {
    opacity: 0;
    transition: opacity 0.2s linear 0.7s;
    top: -24.55px;
    left: 5px;
  }
  .lang-switcher:hover:after {
    opacity: 1;
  }
  .lang-switcher:hover .lang-switcher__svg-item.js-moving, .lang-switcher:hover:focus .lang-switcher__svg-item.js-moving {
    transform: translateX(90px);
  }
}

@media screen and (max-width: 980px) {
  .lang-switcher {
    right: 70px;
    top: 8px;
  }
  .lang-switcher:before, .lang-switcher:after {
    top: -24px;
    left: -70px;
  }
  .lang-switcher:before {
    opacity: 1; /* Make it visible by default */
  }
  .lang-switcher:after {
    opacity: 1; /* Hide it by default */
    top: -24px;
    left: -35px;
  }

  .lang-switcher:hover:before {
    color: gray; /* Change color on hover */
  }
  .lang-switcher:hover:after {
    opacity: 1; /* Make it visible on hover */
  }
}

