@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");

/* ================= VARIABLE ================ */
:root {
  /* Website color scheme */
  --primary-color: hsl(9, 94%, 61%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #ffffff;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsl(300, 100%, 0%);
  --dark-color-alt: #3d3d3d;
  --bckgnd-color: #FFFFF5;
  --bckgnd-color-alt: #F4F4F4;

  /* magic line */
  --l1-color: #9B91D9;
  --l2-color: #91A3D9;
  --l3-color: #9FD98F;
  --l4-color: #D6D991;
  --l5-color: #D18FB2;

  /* configs */
  --body-padding-top: 4em;
  --body-padding-bottom: 3em;
}
* {
  margin: 0; 
  padding: 0;
  /* box-sizing: border-box; */
}

/* -- BODY -- */
body {
  margin: 0; 
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background-color: var(--dark-color); 
  color: var(--white-color);
  background-color: #111;
}
.body {
  padding-top: var(--body-padding-top);
  padding-bottom: var(--body-padding-bottom);
}

.main-row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="main-col-"] {
  float: left;
  padding: 15px;
}

.main-col-2 {width: 500px; min-width: 430px;}

/* ================= ASSETS ================ */
.center-container {
  margin-left: auto !important;
  margin-right: auto !important;
  /* --bs-gutter-x: 8.8rem; */
}

.action-button {
  font-size: 14px;
  width: 204px;
  height: 54px;
  background: var(--l1-color);
  color: var(--white-color);
  opacity: 1;
  /* position: absolute;
  top: 0px;
  left: 0px; */
  overflow: hidden;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}
.action-text {
  color: var(--white-color);
  position: relative;
  top: 12px;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
}

.section_line{
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.2em;
  height: 0.15em;
  border-radius: 0.1em;
  background: linear-gradient(
    120deg,
    var(--l1-color) 0%,
    var(--l2-color) 25%,
    var(--l3-color) 50%,
    var(--l4-color) 75%,
    var(--l5-color) 100%
  );
}


.search-bar::before {
  content: "";
  background: linear-gradient(
    120deg,
    var(--l1-color) 0%,
    var(--l2-color) 25%,
    var(--l3-color) 50%,
    var(--l4-color) 75%,
    var(--l5-color) 100%
  );
  width: 100%;
  height: 0.3em;
  border-radius: 0.15em;
  position: absolute;
  left: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}

.search-bar:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.jumbie-container {
  display:inline-block;
  background-color: var(--bckgnd-color-alt);
  /* max-width:300px; */
  min-width:300px;
  border-radius:20px;
  padding:1em;
  margin:24px;
  margin-left: 0px;
  /* -webkit-box-shadow: -3px 3px 6px -3px rgba(0,0,0,0.6);
  -moz-box-shadow: -3px 3px 6px -3px rgba(0,0,0,0.6);
  box-shadow: -3px 3px 6px -3px rgba(0,0,0,0.6); */
}

/* ================= HEADER BAR ================ */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  height: 4rem;
  padding-top: 1em;
}
.nav div.logo img {
  cursor: pointer;
  margin-left: -1.5em;
}
.nav{
  position: fixed;
  z-index: 2;
}
.nav-items {
  display: flex;
  margin-right: 1.5rem;
}
.nav-link {
  margin: 0 1.5rem;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  /* background: -webkit-linear-gradient(
    var(--primary-color-alt),
    var(--primary-color)
  ); */
  text-decoration: none; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: var(--white-color);
}


.nav-link:hover {
  cursor: pointer;
}
.nav-link::before {
  content: "";
  background: linear-gradient(
    120deg,
    var(--l1-color) 0%,
    var(--l2-color) 25%,
    var(--l3-color) 50%,
    var(--l4-color) 75%,
    var(--l5-color) 100%
  );
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-toggle {
  display: none;
}
.bx-menu,
.bx-x {
  cursor: pointer;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none !important;
}

/* ================= HOMEPAGE CONTENT ================ */
.section-homepage{ 
  display: block;
	max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.home_left {
  margin-top: 3em;
  padding: 50px
}

img.home-logo {
  width: 20em;
}

.logo_line{
  width: 20em;
  height: 0.3em;
  border-radius: 0.15em;
  position: absolute;
  top: 15.3em;
  margin-left:0em;
  background: linear-gradient(
    120deg,
    var(--l1-color) 0%,
    var(--l2-color) 11.11%,
    var(--l3-color) 22.22%,
    var(--l4-color) 33.33%,
    var(--l5-color) 44.44%,
    var(--l1-color) 55.55%,
    var(--l2-color) 66.66%,
    var(--l3-color) 77.77%,
    var(--l4-color) 88.88%,
    var(--l5-color) 100%
  );
  background-size: 200% 200%;
  -webkit-animation: errorBg 12s ease infinite;
  -moz-animation: errorBg 12s ease infinite;
  animation: errorBg 12s ease infinite;
}
@-webkit-keyframes errorBg {
    0% {
        background-position: 0% 100%
    }
    50% {
        background-position: 100% 200%
    }
    100% {
        background-position: 0% 100%
    }
}

@-moz-keyframes errorBg {
    0% {
        background-position: 0% 100%
    }
    50% {
        background-position: 100% 200%
    }
    100% {
        background-position: 0% 100%
    }
}

@keyframes errorBg {
    0% {
        background-position: 0% 100%
    }
    50% {
        background-position: 100% 200%
    }
    100% {
        background-position: 0% 100%
    }
}

span.home-slogan {
  padding-left: 0.2em;
  font-size: 1.5rem;
  min-width: 800px;
}


@media(max-width: 430px) {
  img.home-logo {
    width: 15em;
  }
  .logo_line{
    width: 15em;
    height: 0.26em;
    border-radius: 0.13em;
    top: 14.1em;
    margin-left:0em;
  }
  span.home-slogan {
    font-size: 1.3rem;
  }
}


/* ================= ABOUT CONTENT ================ */
.section-about{ 
  display: none;
  min-height: 21.3em;
}
/* About */
.section-about h1{
  margin-top: 1em;
  text-align: center;
  font-size: 2em;
}

.section_line.about { width: 13em; }
.section_line.values { width: 11em; }
.section_line.values_pt { width: 20.5em; }

/* Core Values */
.values_title {
  margin-top: 2em;
}

.company-about {
  padding:1em;
  min-width: 300px;
}

.values-textarea {
  background-color:#f3f3f3;
  border-radius:20px;
}

.values-textcontent {
  vertical-align: top;
  min-height: 300px;
}

.values-textcontent td {
  font-family:'arial','helvetica',sans-serif;
  font-size:18px;
  line-height:24px;
  text-align:left;
  max-width:450px;
  background-color:#f3f3f3;
  padding-left:24px;
  padding-right:24px;
  padding-top:20px;
  padding-bottom:34px;
}

.values-textcontent img {
  display: block;
}
/* ================= SERVICES CONTENT ================ */
.section-services { 
  display: none;
  min-height: 21.3em;
  
}
.section-services h1{
  text-align: center;
  margin-top: 1em;
  font-size: 2em;
}
.section_line.services { 
  width: 8em; 
  margin-bottom: 40px;
}

.topcenter_icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -45px;
}

.service-section {
  padding-top: 20px;
}

.readmore {
  padding-top: 30px;
  text-align: right;
  text-decoration-line: underline;
  cursor: pointer;
}


/* ================= PORTFOLIO CONTENT ================ */
.section-portfolio { 
  display: none;
  min-height: 21.3em;
}
.section-portfolio h1{
  text-align: center;
  margin-top: 1em;
  font-size: 2em;
}
.section_line.portfolio { 
  width: 8em; 
  margin-bottom: 40px;
}
.section_line.portfolio_pt { 
  width: 9em; 
  margin-bottom: 40px;
}

.snip1573 {
  background-color: #000;
  display: inline-block;
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 16px;
  margin: 10px;
  /* max-width: 315px; */
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  z-index: 1;
}

.snip1573 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1573:before,
.snip1573:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #000000;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
  opacity: 0.9;
  z-index: 1;
}

.snip1573:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.snip1573:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.snip1573 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1573 figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}

.snip1573 h3 {
  background-color: #000000;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  /* text-transform: uppercase; */
}

.snip1573 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1573:hover > img,
.snip1573.hover > img {
  opacity: 0.5;
}

.snip1573:hover:before,
.snip1573.hover:before {
  -webkit-transform: skew(45deg) translateX(-55%);
  transform: skew(45deg) translateX(-55%);
}

.snip1573:hover:after,
.snip1573.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.snip1573:hover figcaption,
.snip1573.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

/* ================= CONTACT CONTENT ================ */
.section-contact{ 
  display: none;
  text-align: center;
  min-height: 21.3em;
}
.section-contact h1 {
  margin-top: 1em;
  font-size: 2em;
}
.section_line.contact { width: 7.5em; }
.section_line.contact_pt { width: 9em; }

form {
  max-width: 1200px;
	padding: 30px 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
  border: none;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

form button {
	background-color: var(--l1-color);
	border: 0px;
	border-radius: 8px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
  padding: 10px;
	width: 6em;
  cursor: pointer;
}

#messageField {
  width: 100%;
  min-height: 10em;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(
                120deg,
                var(--l1-color) 0%,
                var(--l2-color) 25%,
                var(--l3-color) 50%,
                var(--l4-color) 75%,
                var(--l5-color) 100%
              )  border-box;
  border: 1px solid transparent;
  border-image:  1;
}

.custom-select {
  width: 100%;
  min-height: 2em;
  padding: 8px;
  border: 0px;
  border-radius: 2px;
  color: var(--dark-color-alt);
  background-color: var(--white-color-alt);
}

/* --- Message Sended --- */
.contact-popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 215px;
  top: 50%;
  margin-top: -100px;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(
                120deg,
                var(--l1-color) 0%,
                var(--l2-color) 25%,
                var(--l3-color) 50%,
                var(--l4-color) 75%,
                var(--l5-color) 100%
              )  border-box;
  border: 4px solid transparent;
  border-image:  1;
  border-radius: 8px;
  z-index: 20;
  text-align: center;
}

#contact-popup:after {
  position: fixed;  
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  border-radius: 8px;
  z-index: -2;
}

#contact-popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  border-radius: 8px;
  z-index: -1;
}


.contact-popup .social-links a {
	color: var(--dark-color);
	display: inline-block;
	height: 40px;
	width: 40px;
	text-align: center;
	margin: 0 10px 10px 0;
	transition: all 0.5s ease;
}

.contact-popup .social-links a:hover {
	color: var(--l3-color);
}


.contact-popup-close {
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
}

/* ================= JUMBIE FOOTER ================ */
.footer {
	background-color: inherit;
  margin: 0;
  max-width: 100%;
  margin-top: 50px;
  padding: 8px;
}

.footer .container_footer {
  margin-top: 30px;
	 max-width: 1200px ; 
	/* margin: auto; */
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}
/* 
.footer .row {
	display: flex;
	flex-wrap: wrap;
} */

.footer ul {
	list-style: none;
  margin-left: -2em;
}

.footer-col {
  min-width: 150px;
}

.footer-col h4 {
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 16px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
  content: "";
  background: linear-gradient(
    120deg,
    var(--l1-color) 0%,
    var(--l2-color) 25%,
    var(--l3-color) 50%,
    var(--l4-color) 75%,
    var(--l5-color) 100%
  );
  width:100px;
  height: 0.08rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer-col h4.links::before { width:5em;}
.footer-col h4.links_pt::before { width:4.75em;}
.footer-col h4.services::before { width:4.8em;}
.footer-col h4.services_pt::before { width:4.85em;}
.footer-col h4.follow::before { width:5.9em;}
.footer-col h4.follow_pt::before { width:4.88em;}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li span {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
  cursor: pointer;
}

.footer-col ul li span:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}
